<%- include('../layout/admin_header.ejs') %>

      <!-- Right side column. Contains the navbar and content of the page -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Problem Registration
          </h1>
          <ol class="breadcrumb">
            <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/route">view Route</a></li>
            <li class="active">New Problem page</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row d-flex justify-content-center ">
            <div class="col-md-8">

              <div class="box box-danger text-capitalize">
                <div class="box-header" >
                  
                </div>
                  <!-- alert -->
                  <% if(error_msg && error_msg.length > 0){ %>
                    <div class="alert alert-danger alert-dismissible  show" role="alert">
                      <strong>Error!</strong>  <%= error_msg[0] %>              
                  </div>
                  <% } %>
                  <% if(success_msg && success_msg.length > 0){ %>
                    <div class="alert alert-success alert-dismissible  show" role="alert">
                      <strong>Success!</strong>  <%= success_msg[0] %>              
                  </div>
                  <% } %>
                 
          
                    <!-- end alert -->

                <form action="/update_issue/<%= problem.parcel_id %>" method="post">
                  <div class="box-body">
                   
                    <div class="row">

                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Track Id*</label>
                          <input type="text" readonly value="<%= problem.parcel_id %>" class="form-control" name="track_id" placeholder="Enter Track Id..."/>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Route Id*:</label>
                          <input type="text" value="<%= problem.route_id %>" readonly  class="form-control" name="route_id" placeholder="Enter starting location..."/>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label>reported by*</label>
                          <input type="text" class="form-control"value="<%= problem.reported_by %>"  name="reported_by" placeholder="Enter Stoping location..."/>
                        </div>
                      </div>
                    
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>reporter role:</label>
                          <select name="role"  class="form-control" id="">
                            <option value="<%= problem.reporter_role %>"  class="form-control"><%= problem.reporter_role %></option>
                            <option value="rider" class="form-control">rider</option>
                            <option value="supervisor" class="form-control">supervisor</option>
                          </select>
                          
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Issue Type*</label>
                          <input type="text" class="form-control" value="<%= problem.issue_type %>"  name="issue_type" placeholder="Enter Stoping location..."/>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label>priority :</label>
                          <select name="priority" class="form-control" id="">
                            <option value="<%= problem.priority %>"  class="form-control"> <%= problem.priority %> </option>
                            <option value="low" class="form-control">low</option>
                            <option value="mediume" class="form-control">mediume</option>
                            <option value="High" class="form-control">High</option>
                          </select>
                          
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Issue description</label>
                          <textarea name="description"  class="form-control" cols="3" rows="3" id="">
                            <%= problem.description %>
                          </textarea>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Resolution Note</label>
                          <textarea name="resolution" class="form-control" cols="3" rows="3" id="">
                            <%= problem.resolution_notes %>
                          </textarea>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label>update id </label>
                          <input type="number" readonly class="form-control" value="<%= problem.id %>" name="update_id" placeholder="Enter Stoping location..."/>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group" style="margin-top: 20px;" >

                          <button class="btn btn-primary form-control" >Update Issue</button>
                        </div>
                      </div>



                    </div> 
                  </div><!-- /.box-body -->
                </form>
              </div><!-- /.box -->
            </div><!--left row -->
          </div><!-- /.row -->

        </section><!-- /.content -->

       
      </div><!-- /.content-wrapper -->
      
      <%- include('../layout/admin_footer.ejs') %>